 { font-family: "Poetsen One", sans-serif; peso de fuente: 400; estilo de fuente: normal; }
*{ 
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}	

body{
	font-family: ¨Open Sans ¨;
	}	
header{
	background-color: #f2f2f2;
	text-align: center;
	padding: 25px 0;
}     

.encabezado-img{
	background-image: url(img/tal.jpg);
	height: 250px;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
} 

.encabezado-img p{
    font-size: 20px;
} 
.encabezado-img h1{
    font-size: 50px; 
    padding: 20px 0;  
}      	